/* Light mode colors. */
:root[data-theme='light'] {
	  --sl-color-accent-low: #c7d6ff;
	  --sl-color-accent: #364bff;
	  --sl-color-accent-high: #182775;
	  --sl-color-white: #17181c;
	  --sl-color-gray-1: #24272f;
	  --sl-color-gray-2: #353841;
	  --sl-color-gray-3: #545861;
	  --sl-color-gray-4: #888b96;
	  --sl-color-gray-5: #c0c2c7;
	  --sl-color-gray-6: #eceef2;
	  --sl-color-gray-7: #f5f6f8;
	  --sl-color-black: #ffffff;
}

.expressive-code {
    width: 70%;
}

.expressive-code .frame pre {
    border-radius: 2em;
}

.card.sl-flex {
    border-radius: 2em;
}


.sl-link-button.primary {
    background: rgb(0 107 230);
    background-color: rgb(0 107 230);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --sl-text-h1: 3em;
        --sl-text-h2: 2.8em;
    }
}
